.sider {
    width: 100%;
    color: white;
    background-color: #115293;
    height: 100%;
    position: relative;

    .listItemIcon {
        fill: white;
    }
    .listItemText {
        margin-left: -1rem;
    }
    .listItem:hover {
        background-color: #1976d2;
    }
    .logout {
        position: absolute;
        bottom: 1rem;
    }
}
