.formContainer {
    width: max-content;
    position: relative;
    .loader {
        position: absolute;
        top: 45%;
        left: 45%;
        z-index: 100;
    }
}

.loading {
    opacity: 0.7;
    pointer-events: none;
}
