.drawGraph {
    width: 700px;
    #plane {
        border: thin solid;
        margin: 12px 0;
        width: 100%;
        height: 450px;
    }
}

.toolbar {
    align-items: center;
    .title {
        font-size: 18px;
        font-weight: 600;
        margin-right: 15px;
    }
    .source {
        width: 100px;
        margin-left: 12px;
    }
    .ant-btn {
        margin-left: 12px;
    }
}

.playButton {
    i {
        position: relative;
        top: -4px;
    }
}

@media only screen and (max-width: 1024px) {
    .drawGraph {
        width: 100%;
        #plane {
            height: 300px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .toolbar {
        justify-content: flex-end;
        .title,
        .ant-radio-group,
        .source,
        .ant-btn {
            margin-bottom: 10px;
        }
        .source {
            margin-left: 0;
        }
    }
}
