.drawGraph {
    width: 700px;
    #plane {
        border: thin solid;
        margin: 12px 0;
        width: 100%;
        height: 450px;
    }
}

.toolbar {
    width: 100%;
    .title {
        font-size: 18px;
        font-weight: 600;
        margin-right: 15px;
    }
    .options {
        align-items: center;
        .source {
            width: 100px;
            margin-left: 10px;
        }
        button {
            margin-left: 10px;
        }
    }
}

.playButton {
    i {
        position: relative;
        top: -4px;
    }
}

@media only screen and (max-width: 1024px) {
    .drawGraph {
        width: 100%;
        #plane {
            height: 300px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .toolbar {
        .options {
            justify-content: flex-end;
            button,
            .source {
                margin-top: 10px;
            }
        }
    }
}
