.container {
    min-width: 100%;
    width: max-content;
    padding: 0;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;

    .label {
        font-size: 1rem;
    }
    .number {
        width: 2.5rem;
        margin-right: 0.5rem;
    }
    select {
        padding-left: 16px;
    }
}
