@import '../common/common.scss';

.header {
    height: $header-height;
    align-items: center;
    padding: 0 1.5rem;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;

    .heading {
        font-size: 1.5rem;
        height: 1.25rem;
    }

    .menuIcon {
        font-size: 2rem;
        margin-right: 0.75rem;
        color: #1976d2;
    }
}
