.header {
    height: 60px;
    align-items: center;
    padding: 0 24px;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;

    h5 {
        margin-bottom: 0;
    }

    .anticon-eye {
        font-size: 24px;
        line-height: 0.8;
        margin-right: 15px;
    }

    .anticon-menu {
        font-size: 20px;
        margin-right: 15px;
        line-height: 1;
        color: #1890ff;
    }

    .anticon-github {
        font-size: 22px;
    }
}
