.container {
    min-width: 100%;
    width: max-content;
    height: 100%;
    padding: 0;
}

.input {
    display: flex;
    align-items: center;

    .label {
        font-size: 16px;
    }
    .number {
        width: 40px;
        margin-right: 6px;
    }
}

table {
    border-collapse: separate !important;
    border-spacing: 6px !important;
    font-weight: 600;
    width: max-content;
    td {
        width: 50px;
        height: 45px;
        text-align: center;
    }
}

.draw {
    width: 60%;
    span {
        font-size: 18px;
    }
}

#plane {
    width: 60%;
    height: 50%;
    border: thin solid;
    margin: 12px 0;
}

@media only screen and (max-width: 1024px) {
    .draw {
        width: 100%;
    }

    #plane {
        width: 100%;
    }
}
