table {
    border-collapse: separate !important;
    border-spacing: 6px !important;
    font-weight: 600;
    width: max-content;
    td {
        width: 50px;
        height: 45px;
        text-align: center;
    }
}

.customLink {
    color: #1890ff;
    cursor: pointer;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.ant-message {
    span {
        position: relative;
        top: 4px;
    }
}
