@import '../../common/styles.scss';

.dataItems {
    height: 100%;
    border-left: $border;
    overflow: auto;
    min-width: max-content;

    .listHeader {
        border-bottom: $border;
        background-color: white;
    }
    .listItemIcon {
        position: relative;
        left: 1.5rem;
        color: #f50057;
    }
}
