@import '../../common/styles.scss';

.dataItems {
    height: 100%;
    overflow: auto;
    border-left: $border;
    width: 20%;
    min-width: max-content;

    .listHeader {
        border-bottom: $border;
        background-color: white;
    }
    .deleteIcon {
        position: relative;
        left: 1.5rem;
        color: #f44336;
    }
}

.blur {
    opacity: 0.5;
    pointer-events: none;
}
