
table {
  border-collapse: separate !important;
  border-spacing: 5px !important;
}

td {
  width: 50px;
  height: 45px;
  text-align: center;
}

.label {
  font-size: 17px;
}

#plane {
  width: 60%;
  height: 50%;
  border: thin solid;
  margin: 12px 0;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
