* {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

html,
body,
#root {
    height: 100%;
}

@media only screen and (min-width: 1920px) {
    html {
        font-size: 20px;
    }
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spaceAround {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
